# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environment
venv/
.venv/
.env


# Database
*.db

# Model Files
*.h5
*.keras
*.pt
*.pth
*.ckpt
*.onnx

# Training Outputs
logs/
runs/
checkpoints/
tensorboard_logs/

# Uploads
uploads/

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Build & Node
build/
dist/
**/node_modules/
frontend/node_modules/
*.mjs

# Data
data/raw/
data/processed/
processed_dataset/

# OS
.DS_Store
Thumbs.db


